<?xml version="1.0"?>
<robot name="panda" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!--Import the lbr iiwa macro -->
    <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro"/>
    <xacro:include filename="$(find franka_description)/robots/hand.xacro"/>
    <xacro:include filename="$(find robots_ee_pkg)/urdf/table/add_table.urdf.xacro" />

    <xacro:arg name="robot_name" default="panda" />
    <xacro:arg name="origin_xyz" default="0 0 0" />
    <xacro:arg name="origin_rpy" default="0 0 ${pi/2}" />
    <xacro:arg name="table_origin_xyz" default="0 0 0.9967"/>
    <xacro:arg name="table_origin_rpy" default="0 0 0"/>
    <xacro:arg name="table_ee" default="panda_table_ee"/>
    <xacro:arg name="modelDir" default="/home/vishnu/catkin_ws/src/robots_ee_pkg"/>

    <link name="world" />
    <!-- Table joint -->
    <xacro:add_table robot_name="$(arg robot_name)" table_ee="$(arg table_ee)" modelDir="$(arg modelDir)"  parent="world">
      <origin xyz="$(arg table_origin_xyz)" rpy="$(arg table_origin_rpy)" />
    </xacro:add_table>
    <!-- Panda robot interface -->
    <xacro:panda_arm connected_to="$(arg table_ee)" xyz="$(arg origin_xyz)" rpy="$(arg origin_rpy)" />
    <!-- Panda hand interface -->
    <xacro:hand ns="panda" rpy="0 0 ${-pi/4}" connected_to="panda_link8" />

</robot>
