<?xml version="1.0" ?>
<robot name="franka_panda_table_urdf" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- robot pedestal -->
  <xacro:macro name = "franka_panda_table_urdf" params = "table_prefix table_parent *origin">
    <!--Import the lbr iiwa macro -->
    <xacro:include filename="$(find robots_ee_pkg)/urdf/panda_robot/robots/panda_arm.xacro"/>
    <xacro:include filename="$(find robots_ee_pkg)/urdf/panda_robot/robots/hand.xacro"/>
    <xacro:include filename="$(find robots_ee_pkg)/urdf/table/add_table.urdf.xacro" />
    <xacro:include filename="$(find robots_ee_pkg)/urdf/panda_robot/panda.transmission.xacro" />
    <xacro:include filename="$(find robots_ee_pkg)/urdf/panda_robot/panda.gazebo.xacro" />
    <xacro:include filename="$(find robots_ee_pkg)/urdf/panda_robot/panda_hand.transmission.xacro" />
    <xacro:include filename="$(find robots_ee_pkg)/urdf/panda_robot/panda_hand.gazebo.xacro" />

    <xacro:arg name="hardware_interface" default="EffortJointInterface"/>
    <xacro:arg name="gripperHwInterface" default="EffortJointInterface"/>
    <xacro:arg name="arm_name" default="panda"/>
    <xacro:arg name="robot_param" default="/panda/panda_description"/>
    <xacro:arg name="origin_xyz" default="0 0 0" />
    <xacro:arg name="origin_rpy" default="0 0 ${pi/2}" />
    <xacro:arg name="modelDir" default="/home/vishnu/catkin_ws/src/robots_ee_pkg"/>

    <xacro:add_table robot_arm_name="${table_prefix}" table_ee="${table_prefix}_table_ee" modelDir="$(arg modelDir)"  parent="${table_parent}">
      <xacro:insert_block name="origin" />
    </xacro:add_table>
    <!-- Panda robot interface -->
    <xacro:panda_arm connected_to="${table_prefix}_table_ee" xyz="$(arg origin_xyz)" rpy="0 0 ${pi/2}" />
    <xacro:panda_gazebo arm_name="$(arg arm_name)" robot_param_name="$(arg robot_param)"/>
    <xacro:panda_arm_transmission arm_name="$(arg arm_name)" hardware_interface="EffortJointInterface" />
    <!-- Panda hand interface -->
    <xacro:hand ns="$(arg arm_name)" rpy="0 0 ${-pi/4}" connected_to="$(arg arm_name)_link8" />
    <xacro:panda_hand_gazebo arm_name="$(arg arm_name)" />
    <xacro:panda_hand_transmission ns_name="$(arg arm_name)"  gripper_hardware_interface="$(arg gripperHwInterface)" />
  </xacro:macro>
</robot>
