<?xml version="1.0" ?>
<robot name="panda_system" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Kuka robot system to spawn in in the gazebo -->
  <xacro:arg name="hardware_interface" default="EffortJointInterface"/>
  <xacro:arg name="gripperHwInterface" default="EffortJointInterface"/>
  <xacro:arg name="arm_name" default="panda"/>
  <xacro:arg name="robot_param" default="/panda/panda_description"/>
  <xacro:arg name="workcell_parent" default="world_interface"/>

  <link name="$(arg workcell_parent)"/>
  <!-- origin is given as in the iwt_envirnment.xacro for urdf
        If any changes requred int the position of the the system change it according to the iwt_envirnment.xacro -->
  <xacro:include filename="$(find robots_ee_pkg)/urdf/panda_robot/franka_panda.urdf.xacro" />
  <xacro:franka_panda_table_urdf table_prefix="$(arg arm_name)" table_parent="$(arg workcell_parent)">
    <origin xyz="0 0 1.0" rpy="0 0 0" />
  </xacro:franka_panda_table_urdf>

  <gazebo reference="$(arg workcell_parent)">
      <gravity>true</gravity>
  </gazebo>
  
  <gazebo>
      <plugin name="ROSTableControlPlugin" filename="libROSTableControlPlugin.so">
        <table_cmd_vel>/panda/tbl_cmd_vel</table_cmd_vel>
        <offset_x>0</offset_x>
        <offset_y>0</offset_y>
        <offset_z>1.0</offset_z>
        <offset_yaw>${pi}</offset_yaw>
        <table_base_link>panda_table_base</table_base_link>
      </plugin>
  </gazebo>

</robot>
