<?xml version="1.0"?>
<launch>
    
    <!-- LAUNCH INTERFACE -->
    <arg name="hardware_interface" default="PositionJointInterface"/>
    <arg name="robot_name" default="iiwa"/>

    <include file="$(find iiwa_description)/launch/iiwa7_upload.launch" />

    <!-- LAUNCH IMPLEMENTATION -->
    <rosparam command="load" file="$(find iiwa_hw)/config/joint_names.yaml" />
    <!-- addresses /-->
    <param name="interface" value="$(arg hardware_interface)"/>
    
    <!-- the real hardware interface /-->
    <node name="iiwa_hw" pkg="iiwa_hw" type="iiwa_hw-bin" respawn="false" output="screen">
        <!--remap from="/state/CartesianPose" to="/iiwa/state/CartesianPose"/>
        <remap from="/state/CartesianWrench" to="/iiwa/state/CartesianWrench"/>
        <remap from="/state/JointPosition" to="/iiwa/state/JointPosition"/>
        <remap from="/state/JointPositionVelocity" to="/iiwa/state/JointPositionVelocity"/>
        <remap from="/state/DestinationReached" to="/iiwa/istate/DestinationReached"/>
        <remap from="/state/JointDamping" to="/iiwa/state/JointDamping"/>
        <remap from="/state/JointStiffness" to="/iiwa/state/JointStiffness"/>
        <remap from="/state/JointTorque" to="/iiwa/state/JointTorque"/>
        <remap from="/state/JointVelocity" to="/iiwa/state/JointVelocity"/>
        <remap from="/command/CartesianPose" to="/iiwa/command/CartesianPose"/>
        <remap from="/command/JointVelocity" to="/iiwa/command/JointVelocity"/>
        <remap from="/command/JointPositionVelocity" to="/iiwa/command/JointPositionVelocity"/>
        <remap from="/command/JointPosition" to="/iiwa/command/JointPosition"/>
        <remap from="joint_states" to="/iiwa/joint_states" /-->
    </node>

    <!-- Harware interface setting
    For joint_state ffrom the robot publish: https://github.com/IFL-CAMP/iiwa_stack/issues/39 -->
    <param name="/iiwa/publishJointStates" value="true" />
    
</launch>
