[submodule "moveit_tutorials"]
	url = https://github.com/ros-planning/moveit_tutorials.git
[submodule "ira_laser_tools"]
	path = ira_laser_tools
	url = https://github.com/iwtros/ira_laser_tools.git
[submodule "universal_robot"]
	path = universal_robot
	url = http://github.com/iwtros/universal_robot.git
[submodule "franka_ros"]
	path = franka_ros
	url = https://github.com/iwtros/franka_ros.git
