<?xml version="1.0"?>
<launch>
  <arg name="hardware_interface" default="PositionJointInterface" />
  <arg name="controllers" default="panda_joint_state_controller position_joint_trajectory_controller" />
  <arg name="robot_name" default="panda" />

  <!-- Load joint controller configuration from YAML file to parameter server -->
  <rosparam file="$(find iwtros_gazebo)/config/panda_control.yaml" command="load" />
  <!-- Loads the controllers -->
  <node name="$(arg robot_name)_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" args="$(arg controllers) franka_gripper --shutdown-timeout 2" />
  <!-- Conver joint states to TF transforms for rviz, etc -->
</launch>
