
<launch>
    <node pkg="iwtros_gazebo" name="laserscan_multi_merger_node" type="laserscan_multi_merger_node" output="screen">
			<param name="destination_frame" value="/base_link"/>
			<param name="cloud_destination_topic" value="/merged_cloud"/>
			<param name="scan_destination_topic" value="/scan"/>
			<param name="laserscan_topics_front" value ="omronld/scanFront" />
			<param name="laserscan_topics_back" value ="omronld/scanBack" />
	</node>
</launch>
