<?xml version="1.0"?>
<launch>
    <arg name="robot_name" default="panda"/>
    <arg name="hardware_interface" default="PositionJointInterface"/>

    <param name="robot_description"
          command="$(find xacro)/xacro --inorder '$(find robots_ee_pkg)/urdf/panda_robot/panda_system.urdf.xacro' robot_name:=$(arg robot_name) robot_param:=robot_description workcell_parent:=$(arg robot_name)_interface" />

    <include file="$(find iwtros_gazebo)/launch/controllers/panda_control.launch">
      <arg name="hardware_interface" value="$(arg hardware_interface)"/>
      <arg name="controllers" value="$(arg robot_name)_joint_state_controller $(arg hardware_interface)_$(arg robot_name)_arm_trajectory_controller"/>
      <arg name="robot_name" value="$(arg robot_name)"/>
    </include>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="$(arg robot_name)_gazebo_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-x 3.7 -y -0.5 -Y 3.1415926535 -unpause -urdf -model panda -param robot_description" />
</launch>