<?xml version="1.0"?>
<launch>
    <arg name="sim" default="true"/>
    <arg name="hardware_interface" default="PositionJointInterface"/>
    <!-- these are the arguments you can pass this launch file, for example paused:=true -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="rviz" default = "true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="extra_gazebo_args" default="--verbose"/>

    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <!--include if="$(arg sim)" file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)"/>
    </include -->

    <!-- IIWA Simulation -->
    <group ns="iiwa" if="$(arg sim)">
        <include file="$(find iwtros_gazebo)/launch/spawn_iiwa.launch" />
    </group>
    <group ns="iiwa">
        <include file="$(find iiwa_moveit_config)/launch/move_group.launch">
            <arg name="capabilities" default="true"/>
            <arg name="disable_capabilities" default="true"/>
        </include>
    </group>

    <!-- UR5 Simulation -->
    <group ns="ur5" if="$(arg sim)">
        <include file="$(find iwtros_gazebo)/launch/spawn_ur5.launch" />
    </group>
    <group ns="ur5">
        <include file="$(find ur5_moveit_config)/launch/move_group.launch"/>
    </group>

    <!-- Panda Simulation -->
    <group ns="panda" if="$(arg sim)">
        <include file="$(find iwtros_gazebo)/launch/spawn_panda.launch" />
    </group>
    <group ns="panda">
        <include file="$(find panda_moveit_configs)/launch/move_group.launch"/>
    </group>

    <!-- HARDWARE -->
    <!-- Working with the real robot.  -->
    <group ns="iiwa" unless="$(arg sim)">
        
        <!-- Load controllers accordingly to parameters -->
        <include file="$(find iiwa_control)/launch/iiwa_control.launch">
            <arg name="hardware_interface" value="$(arg hardware_interface)" />
            <arg name="controllers" value="joint_state_controller $(arg hardware_interface)_trajectory_controller" />
            <arg name="robot_name" value="$(arg robot_name)" />
            <arg name="model" value="$(arg model)" />
        </include>
        
        <!-- Robot interface -->
        <include file="$(find iwtros_launch)/launch/robot_hw/iiwa_hw.launch" >
            <arg name="hardware_interface" value="$(arg hardware_interface)" />
        </include>
        
    </group>
</launch>