<?xml version="1.0"?>
<launch>
  <!-- Start the pick and place node for robot2 which is in week4_assignment3.py /-->
  <node name="ur5_home" pkg="iwtros_goal" type="ur5_home.py" output="screen" ns="ur5"/>
  <!--node name="movement" pkg="iwtros_goal" type="iiwa_sb_node" output="screen" ns="iiwa"/-->
</launch>
