<?xml version="1.0" ?>
<robot name="kuka_iiwa7_table_urdf" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- robot pedestal -->
<xacro:macro name = "kuka_iiwa7_table_urdf" params = "table_prefix table_parent *origin">
  <xacro:property name="PI" value="3.1415926535897931" />
  <!-- Import Rviz colors -->
  <xacro:include filename="$(find iiwa_description)/urdf/materials.xacro" />
  <!--Import the lbr iiwa macro -->
  <xacro:include filename="$(find iiwa_description)/urdf/kuka_iiwa7.xacro"/>
  <xacro:include filename="$(find wsg_50_simulation)/urdf/wsg_50.urdf.xacro" />
  <xacro:include filename="$(find robots_ee_pkg)/urdf/table/add_table.urdf.xacro" />
  <xacro:include filename="$(find robots_ee_pkg)/urdf/kuka_robot/kuka_iiwa7.gazebo.xacro" />

  <xacro:arg name="hardware_interface" default="PositionJointInterface"/>
  <xacro:arg name="gripperHwInterface" default="EffortJointInterface"/>
  <xacro:arg name="robot_name" default="iiwa"/>
  <xacro:arg name="robot_param" default="/iiwa/iiwa_description"/>
  <xacro:arg name="origin_xyz" default="0 0 0" />
  <xacro:arg name="origin_rpy" default="0 0 0" />
  <xacro:arg name="modelDir" default="/home/iwt-ros/catkin_framework_ws/src/robots_ee_pkg"/>

  <!-- Table joint -->
  <xacro:add_table robot_arm_name="${table_prefix}" table_ee="${table_prefix}_table_ee" modelDir="$(arg modelDir)"  parent="${table_parent}">
    <xacro:insert_block name="origin" />
  </xacro:add_table>
  <!-- KUKA robot interface -->
  <xacro:iiwa7 hardware_interface="$(arg hardware_interface)" robot_name="$(arg robot_name)" parent="${table_prefix}_table_ee">
    <origin xyz="$(arg origin_xyz)" rpy="$(arg origin_rpy)" />
  </xacro:iiwa7>
  <!-- iiwa7 additional gazebo plugins -->
  <xacro:iiwa_system_gazebo robot_name="$(arg robot_name)" robot_parameter_name="$(arg robot_param)"/>
  <!-- schunck greifer -->
  <xacro:wsg_50_xacro name="wsg50" parent="$(arg robot_name)_link_ee" finger_length="0.023" finger_tip="0">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:wsg_50_xacro>
</xacro:macro>

</robot>
